<!doctype html>
<html lang="ko">
<head>
<meta name="author" content="Crucarp_이선주">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="/css/style.css" charset="utf-8"/>
<script src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/content.js"></script>
<title>유저 상세정보</title>
</head>
<body>
	<h3> email : <%= email %> </h3>
	<h3> real_name : <%= real_name %> </h3>
	<h3> show_name : <%= show_name %> </h3>
	<h3> sex : <%= sex %> </h3>
	<h3> birth_date : <%= birth_date %> </h3>
	<h3> created_date : <%= created_date %> </h3>
	<h3> last_date : <%= last_date %> </h3>
	<img src="/img/<%=image%>" style="width:300px;height:300px;"/>
</body>
</html>
